.ingredients {
  display: flex;
  position: relative;
  border-radius: 50%;
  border: 2px solid rgb(128, 0, 255);
  max-width: 80px;
  max-height: 90px;
  background-color: black;
  margin-left: -18px;
}

.ingredientPosition {
  position: relative;
  left: -30px;
}

.test {
  display: flex;
}
