.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* outline: 1px solid red; */
}

.menuBar {
  display: flex;
  flex-direction: column;
  width: 600px;
  /* outline: 1px solid red; */
}



.scroll {
  height: 70vh;
  overflow-y: scroll;
}

.burgerBar {
  display: flex;
  flex-direction: column;
  /* outline: 1px solid red;   */
  max-height: 100vh;
}


.burgerBarContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 60vh;
}

.tab{
  display: flex;
   width: 100%;
}