.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 1px solid red;
}

.menu-bar {
  display: flex;
  flex-direction: column;
}

.text {
  outline: 1px solid red;
}

.constructor-bar {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.kek {
  height: 70vh;
  overflow-y: scroll;
}
