.content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  outline: 1px solid red;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.text {
  outline: 1px solid red;
}

.constructor-bar {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.scroll {
  height: 70vh;
  overflow-y: scroll;
}

.burger-bar {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  outline: 1px solid red;
  max-height: 50%;
}
