.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    outline: 1px solid red;

}

.menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    outline: 1px solid red;
}

.constructor-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: 1px solid red;

}