.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* outline: 1px solid red; */
}

.menuBar {
  display: flex;
  flex-direction: column;
  width: 600px;
  /* outline: 1px solid red; */
}

.numberDate {
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.ingredients {
  display: flex;
  position: relative;
  border-radius: 50%;
  border: 2px solid rgb(128, 0, 255);
  max-width: 80px;
  max-height: 90px;
  background-color: black;
}

.ingredientPosition {
  position: relative;
  left: -30px;
}

.totalPrice {
  display: flex;
  justify-content: flex-end;
}

.orderWrap {
  display: flex;
  position: relative;
  border-radius: 50%;
  border: 2px solid rgb(128, 0, 255);
  max-width: 80px;
  max-height: 90px;
  margin-left: -18px;
  background-color: black;

}

.test {
  display: flex;
}

.scroll {
  height: 70vh;
  overflow-y: scroll;
}

.containerReady{
  display: flex;
  flex-direction: column;
  height: 20vh;
  overflow-y: scroll;
  width:120px

}

.orderIsReady{
    color: #00CCCC;
}


.readynWork {
    display: flex;
    justify-content: space-between;
    width: 400px;
}


.testik {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  /* outline: 1px solid red;   */
  max-height: 100vh;
}
