.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* outline: 1px solid red; */
}

.menuBar {
  display: flex;
  flex-direction: column;
  width: 600px;
  /* outline: 1px solid red; */
}

.numberDate {
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.container {
    display: flex;
    justify-content: space-between;
}

.ingredients{
    display: flex;
    position: relative;
    border-radius: 50%;
    border: 2px solid red;
    max-width: 80px;
    max-height: 90px;
}

.kek {
    position: relative;
    left: -30px
}


.totalPrice {
    display: flex;
}

