.ingridientContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.prices {
    display: flex;
    justify-content: center;
  }
  
  .relatives {
    position: relative;
  }
  