.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textColor {
    color: #00CCCC;
}


.scroll {
    display: flex;
    flex-direction: column;
    height: 30vh;
    overflow-y: scroll;
    padding-right: 24px;
    width: 500px;
    height: 500px;
  }

.ingredient {
    display: flex;
    position: relative;
    border-radius: 50%;
    border: 2px solid rgb(128, 0, 255);
    max-width: 100px;
    max-height: 90px;
    background-color: black;
    /* margin-left: -18px; */
}

  
.ingredientPosition {
    position: relative;
    left: -20px;
  }

.price{
    display: flex;
    margin-top: 20px;
    margin-bottom: 16px;
}

.totalContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totalPrice{
    display: flex;
    flex-direction: row;
    padding-right: 34px;
}
  

