.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textColor {
    color: #00CCCC;
}


.scroll {
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow-y: scroll;
    padding-right: 24px;
    /* width: 500px;
    height: 500px; */
  }

.ingredient {
    display: flex;
   justify-content: space-between

    /* position: relative;
    border-radius: 50%;
    border: 2px solid rgb(128, 0, 255); 
    max-width: 100px;
    max-height: 90px;
     background-color: black;   */
}

.kek {
    display: flex;

}

.—Åircle {
    position: relative;
    border-radius: 50%;
    border: 2px solid rgb(128, 0, 255); 
    max-width: 80px;
    max-height: 90px;
     background-color: black;  
     

}

.nameContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

  
.ingredientPosition {
    position: relative;
    left: -30px;
    top:3px;
  }

.price{
    display: flex;
    margin-top: 50px;
    margin-bottom: 16px;
    justify-content: flex-end;
    margin-left: 20px;
}

.totalContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.totalPrice{
    display: flex;
    flex-direction: row;
    padding-right: 34px;
}
  

