.header {
  display: flex;
  justify-content:space-around;
  background-color:#1C1C21 ;
  outline: 1px solid red;
}

.text { 
    cursor: pointer;
     
}

.header__link{
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    outline: 1px solid red;  
}

.test {
  display: flex;
}

.lel{

  display: flex;
  justify-content: center;
  margin-right: 180px;

}