.picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rows{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}